@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=REM:wght@500;700&display=swap');

/* ESTILO GERAL */

*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

.interface{
  max-width: 1280px;
  margin: 0 auto;
}

.flex{
  display: flex;
}

h2.titulo{
  text-align: center;
  color: #fff;
  text-shadow: 2px 1px 5px #3d0101;
  margin-top: 30px;
}

h2.titulo span{
  color: #b80404;
  font-size: 36px;
}


/* ESTILO CABEÇALHO*/


.img-pg{

    width: 100%;
    position: absolute;
}

.img-sg{
    width: 100%;
    position: absolute;
    display: none;
}

.logo-pg{
    cursor: pointer;
    transition: .5s;
    
}

.logo-pg:hover{
    transform:scale(1.12);
}

.logo-sg{
    cursor: pointer;
    transition: .5s;
    display: none;
}

.logo-sg:hover{
    transform:scale(1.12);
}

header{
   padding: 40px 4%; 
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
    position: relative;
    transition: all 0.2s;
    
   
}

.interface ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    margin-top: 5px;
}

.interface .nav-menu .nav-item2{
    padding-bottom: 4px;
}

.interface  ul li a{
    font-family: 'REM', sans-serif;
    color: #faf8f8;
    font-size: 18px;
    transition: .5s;
    text-decoration: none;
    margin-right: 15px;
    margin-top: 5px;
    padding-top: 10px;
    
}

.nav-menu ul li a:hover{
    color: #fcf9f9;
    border: #faf8f8;
    transform: scale(1.05);
}


.interface .item a{
    font-family: 'REM', sans-serif;
    color: #0c0c0c;
}


.interface .item a:hover{
    color: #e60505;
    
}
.nav-menu ul li a{
    padding-top: 5px;
    display: inline-block;
}

.nav-menu ul li{
    display: inline-block;
    position: relative;
}
.nav-menu ul ul{
    width: 860px;
    height: 30px;
    display: none;
    position: absolute;
    line-height: 7px;
    left: 0;
    background-color: #faf7f7;
    opacity: 80%;
}

.nav-menu ul li:hover ul{
    display: block;
}

.nav-menu ul ul li a{
    display: inline-block;
    margin: 0 5px;
    padding: 10px 0;
    margin-block-start: 0px;
    font-size: 16px;
}   

header.social-midia{
    display: block;
    position: relative;
    gap: 10px;
   
}

.social-midia button{
   
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:1px solid #faf8f8;
    background: #f02020;
    font-size: 15px;
    color: #fcf9f9;
    cursor: pointer;
    transition: .3s;
   
}

.social-midia button:hover{
    box-shadow: 0px 0px 8px #fff;
    transform: scale(1.05);
}


/*Estilização menu-mobile*/

.menu-mobile{
    background-color:rgba(178, 34, 34, 0.801);
    backdrop-filter: blur(10px);
    width: 370px;
    height: 500px;
    position: absolute;
    left: -370px;
    top: 110px;
    display: none;
    position: fixed
}

.menu-mobile .titulo{
    color: white;
    align-items: center;
    margin-left: 240px;
    margin-top: 20px;
    font-weight: bold;
    line-height: 40px;
    font-size: 20px;
    
}

.btnFecha{
    position: relative;
    left: 5px;
    top: 7px;
    cursor: pointer;
}

.btnFecha:hover{
    color: black;
}

.menu-mobile ul{
    list-style: none;
}

.menu-mobile ul li{
    line-height: 30px;
}

.menu-mobile ul li a{
    color: #ffff;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    padding-left: 5px;
    transition: 0.5s;
}

.menu-mobile ul li a:hover{
    color: rgb(49, 1, 1);
    transition: 0.5s;
}

.menu-mobile ul ul li a{
    font-size: 16px;
    width: 350px;
    font-weight: 300;
    padding-left: 20px;
    display: inline-block;
}

.menu-mobile ul ul li a:hover{
   background-color: antiquewhite;
}

.menu-mobile ul ul{
    display: none;
}

.menu-mobile ul .itens-drop.mostra{
    display: block;
}

.btnAbra{
    display: none;
    position: absolute;
    top: 25px;
    left: 40px;
    top: 160px;
    color: darkred;
    cursor: pointer;
}

.btnAbra span{
    font-size: 35px;
}

.menu-mobile.mostra{
    left: 0;
} 
.abrir-menu{
    display: none;
    font-size: 14px;
    margin-left: 18px;
    
}
.txt-abrir {
    position: absolute;
    margin-left: 40px;
}

.menu-mobile ul li a span{
    font-size: 30px;
    position: absolute;
    right: 90px;
    margin-top: 2px;
}

.menu-mobile ul li a span.girar{
    transform: rotate(90deg);
}




/*ESTILIZAR PAGINA HISTORIA */

.faixa-topo{
    background-color: #880303;
}

section.topo{
    width: 100%;
    height: 100px;
    background-color: #880303;
    margin-top: -135px;
}

section.interface{
    text-align: center;
    margin-top: 40px;
}

section.historia .interface{
    padding: 40px 4%;
    background-color: rgba(255, 228, 196, 0.836);
    margin-top: 80px;
    align-items: center;
    text-align: center;
}

.historia .interface .flex{
    display: block;
    align-items: center;
    text-align: center;
}

 .interface  .txt-historia{
    margin-left: 220px;
    text-align: center;
}

.historia .interface .txt-historia  p{
    max-width: 700px;
    width: 100%;
    text-align: justify;
    margin-top: 40px;
    font-size: 16px;
    font-family: poppins;
}

.interface  .autor {
    font-size: 12px;
}







/*final*/

.final .interface{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin-top: 50px;
    
}

.final .interface h5{
    font-size: 8pt;
}



/* ESTILIZAR PAGINA FUNDADORES */

section.container{
    padding: 40px 4%;
}

section.container .flex{
    align-items: center;
    justify-content: center;
    gap: 100px;
}

 .img-fundadores{
    width: 250px;
    height: 230px;
    border: 1px solid #e60505;
    border-radius: 20px;
    align-items: center;
}

.img-fundadores img{
    width: 220px;
    padding-top: -30px;
    margin-left: 10px;
    
}

.interface .txt-fundadores h1{
    font-size: 28px;
}

.interface .txt-fundadores p{
    width: 500px;
    text-align: justify;
}




/* ESTILIZAR PAGINA VIDEOS - */

/* CONTAINER AUDIOS*/

.container-som .interface{
    margin-top: 80px;
}

.container-som .interface .flex{
    display: flex;
    align-items: center;
    text-align: center;
}

.container-som .heading{
    font-size: 18px;
    padding-bottom: 25px;
}



.container-som .container-audio{
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    margin-left: 110px;
}

@keyframes fadeIn{
    0%{
        transform: scale(.7) translateY(-10px);
        opacity: 0;
    }
}

.container-som .container-audio .image{
    width: 350px;
    border-radius: 5px;
    border: 2px solid #9c0303;
    cursor: pointer;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 15px;
    animation: fadeIn .2s linear;
    align-items: center;
    text-align: center;
   
    
}

.container .container-audio .image img:hover{
    transform: scale(1.2);
}

.container-som .container-audio .image h3{
    font-size: 14px;
    color: #2c3e50;
    text-align: justify;


}

@media (max-width:768px){
    .container-som .container-audio{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 25px 20px;
        margin-left: none;
    }

    .container-som .container-audio .image{
        width: 100%;
    }

    .container-som #search-box{
        width: 90%;
    }
}

@media (max-width:450px){
    .container-som .container-audio{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 25px 20px;
        margin-left: none;
    }

    .container-som .container-audio .image{
        width: 100%;
    }
}


/* CONTAINER VIDEOS*/

.container-video .interface{
    margin-top: 80px;
}

.container-video .interface .flex{
    display: flex;
    align-items: center;
    text-align: center;
}

.container-video .heading{
    font-size: 18px;
    padding-bottom: 25px;
}



.container-video .container-filme{
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    margin-left: 110px;
}

@keyframes fadeIn{
    0%{
        transform: scale(.7) translateY(-10px);
        opacity: 0;
    }
}

.container-video .container-filme .video-pm{
    width: 350px;
    border-radius: 5px;
    border: 2px solid #9c0303;
    cursor: pointer;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 15px;
    animation: fadeIn .2s linear;
    align-items: center;
    text-align: center;
   
    
}

.container-video .container-filme .video-pm img:hover{
    transform: scale(1.2);
}

.container-video .container-filme .video-pm h3{
    font-size: 14px;
    color: #2c3e50;
    text-align: justify;


}



/*MOBILE AUDIO */
@media (max-width:768px){
    .container-som .container-audio{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 25px 20px;
        margin-left: 20px;
    }

    .container-som .container-audio .image{
        width: 100%;
    }

    .container-som #search-box{
        width: 90%;
    }
}

@media (max-width:550px){
    .container-som .container-audio{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 25px 20px;
        margin-left: 20px;
    }

    .container-som .container-audio .image{
        width: 100%;
    }
}




/*MOBILE VIDEO */
@media (max-width:768px){
    .container-video .container-filme{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 25px 20px;
        margin-left: 20px;
    }

    .container-video .container-filme .video-pm{
        width: 100%;
    }

    .container-video #search-box{
        width: 90%;
    }
}

@media (max-width:550px){
    .container-video .container-filme{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 25px 20px;
        margin-left: 20px;
    }

    .container-video .container-filme .video-pm{
        width: 100%;
    }
}










/* ESTILIZAR MOBILLE */

@media screen and (max-width: 1280px) {

    /*classes Gerais*/
     
     .flex{
        flex-direction:column;
     }

      /*Menu*/

      .nav-menu{
        display: none;
      }

      .menu-mobile{
        display: block;
        margin-top: 50px;
        
      }

      /*MestreSala*/
      .mestreSala-png img{
        display: block;
        width: 300px;
        margin-left: 70px;
    }

    .topo-master .mestreSala-png img{
        align-items: center;
        width: 260px;
        margin-top: -200px;
    }

    .novo-vou{
    display: block;
    margin-top: -380px;
    }

    .novo-vou img{
        width: 280px;
    }

     /* Mensagem Topo*/

     section.topo{
       display: none;
        
    }

    section.topo-master{
        display: column;
    } 

    section.topo-master .flex{
        flex-direction: column-reverse;
    }

     .topo-master .txt-topo p{
        width: 300px;
        margin: 20px 0;
        text-align: justify;
        
    }

    .topo-master .txt-topo h1{
        font-size: 22px;
        text-align: center;
    }

    .topo-master .txt-topo h1 span{
        font-size: 22px;
        stroke: none;
    }

    .topo-master p.topo-paragrafo{
        font-size: 18px;
    }
    
   
    .topo-master .img-topo img{
        width: 280px;
       
    }

    /* CONTAINER FUNDADORES */

    section.container .flex{
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .interface .txt-fundadores p{
        width: 280px;
        text-align: justify;
    }

    /* Cabeçalho*/
    header > .interface{
        background-color: #fffdfd07;
       
    }
    .btnAbra{
        display: block;
    }

    .img-pg{
        display: none;
    }
    
    .img-sg{
       
        display: block;
        width: 460px;
        margin-top: -20px;
    }
    
    .logo-pg{
        display: none;
    }

    .logo-sg{
        margin-left: -30px;
        display: block;
    }

    /*Midias sociais*/

     header.social-midia{
        display: block;
        position: relative;
        gap: 10px;
        
    }

    .social-midia button{
        
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    /* PAGINA HISTORIA*/

   .historia .interface .txt-historia  p{
    max-width: 700px;
    width: 100%;
    text-align: justify;
    margin-top: 40px;
    font-size: 16px;
    font-family: poppins;
}

 .interface  .txt-historia{
    margin-left: 20px;
    text-align: center;
}


    .banner .banner-sg{
        margin-top: 80px;
        margin-left: 5px;
        display: block;
        width: 100%;
        
    }
    
    section.galeria{
        width: 100%;
        height: 950px ;
        padding: 40px 4% ;
        margin-top: 80px;    
    }

    .flex .foto-img{
        padding: 10px;
        margin-top: 10px;
        margin-left: 30px;
        transform: .2s;
    }

    section  a{
        margin-left: 180px;
        margin-top: 40px;
        color: #fff;
        text-decoration: none;
    }

  
    /*Contato*/

    .banner-contato .contato-sg{
        position: absolute;
        display: block;
        margin-top: 40px;
    }
    
    .txt-end{
     display: none;
    }
    
    .interface form{
        position: relative;
        padding: 80px 4%;
        margin-top: 200px;
        width: 300px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
    
    .interface form input, form textarea{
        width: 100%;
        background-color: #fcf9f979;
        border: 0;
        outline: 0;
        padding: 18px 15px;
        border-radius: 15px;
        color: #0c0c0c;
        font-size: 18px;
    }
    .interface h5{
       font-size: 20px;
       font-family: 'Poppins', sans-serif;
    }
    
    .interface h5 span{
        color: #880303;
    }
    form textarea{
        resize: none;
        max-height: 200px;
    }
    
    form textarea::placeholder{
        color: #e60505;
    }
    
    .interface form input::placeholder{
        color: #e60505;
    }

    /*final*/

    .final .interface{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    
    
}

   .final .interface h5{
    font-size: 8pt;
    
   
    
  }
}











